body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.mr {
    color: orange;
}

.container {
    display: flex;
}

.f-part {
    width: 50%;
    padding: 5%;
}

.f-part img {
    width: 70%;
}

.hire {
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top {
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}

.my {
    background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px;

}

.pad {

    text-align: left;

}

.box {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px orange;
}