body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.mr {
    color: orange;
}

section {
    display: flex;
}

.f-part {
    width: 50%;
    padding: 5%;
}

.f-part img {
    width: 70%;
}

.hire {
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}